# ========================
# Dependensi
# ========================
node_modules/

# ========================
# File Konfigurasi Rahasia
# ========================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ========================
# Log Error & Debug
# ========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# ========================
# Hasil Build & Testing
# ========================
coverage/
.nyc_output/
build/
dist/

# ========================
# File Sistem Operasi
# ========================
.DS_Store
Thumbs.db

# ========================
# Konfigurasi Editor / IDE
# ========================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj